.about-container {
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: calc(100% - 10vh);
}

.about-container-file-structure {
	border-right: 0.5px solid #333436;
	padding: 0;
}
.about-container-code {
	border-right: 0.5px solid #333436;
}
.about-container-file-structure-title {
	border-bottom: 0.5px solid #333436;
	min-height: 40vh;
}
.about-container-file-structure-title-heading {
	color: #ffffff;
	border-bottom: 0.5px solid #333436;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0.8vh;
	margin-left: 1vw;
}
.about-container-file-structure-title-heading .icon {
	margin-right: 1vw;
}

.fs {
	color: #ffffff;
}
