.small-heading {
  margin-top: 0.4rem;
  font-size: 1rem;
}
.large-heading {
  margin-top: 0.4rem;
  font-size: 4rem;
}
.medium-heading {
  margin-top: 0.4rem;
  font-size: 1.8rem;
}
.text-heading {
  margin-top: 0.4rem;
  font-size: 1rem;
}
